.card {
    border-radius: 1.5rem;
}

.title {
    font-size: 1.5em;
    color: #E65F00;
    font-family: 'Poppins', sans-serif;
}

.form-label {
    color: #822719;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}

.text {
    font-size: 0.7em;
    color: #FD090C;
}

.text-type {
    font-size: 0.8em;
    color: #822719;
}
.btnSubmit{
    color: #ffffff;
    border-radius: 10em;
    border: none;
    height: 2em;
    width: 90%;
    font-weight: bold;
}
#validationEmail, #validationPassword{
font-size: 0.8em;
}
