mat-sidenav-container {
    height: 100%;
    background-image: url('../../assets/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mat-sidenav {
        background-color:#FFC501;
        mat-nav-list {
          .menu-item {
            margin-left: 8px;
          }
          .chevron-button {
            transition: 300ms ease-in-out;
            transform: rotate(0deg);
            align-items: center;
          }
          .chevron-button.rotated {
            transform: rotate(180deg);
          }
          .btn-log-out {
            margin-top:23em;
          }
        }
      }
}
/* Navbar ------------------------------------------*/
.container-nav{
    margin: 0;
}
.cont-collapse{
    gap: 6%;
}

.form-Admin{
    width: 70%;
    padding-left: 8%;
}

// Componente Renderizado del User
.row {
    justify-content: space-evenly;
    margin: 0;
}

.rowPrincipal {
    justify-content: center;
}

// Search Bar----------------------
.search {
    height: 40px;
}