<select
  class="form-select"
  aria-label="Default select example"
  #txtSearch
  (change)="optionClick(txtSearch.value)">
  <option value="none" selected>Categoría</option>
  <option value="desayuno">Desayuno</option>
  <option value="almuerzo">Almuerzo y cena</option>
</select>
<div class="overflow-auto row pt-2 pb-2 mb-md-0 mr-md-3 scroller-container">
  <div
    class="card col-sm-5 col-md-5 m-1"
    *ngFor="let product of listProducts | filtroP: valueSearch:optionPCategory">
    <div class="card-body">
      <span class="badge bg-success rounded-pill mt-2">{{ product.type }}</span>
      <img
        class="card-img mt-1"
        style="height: 3rem; width: 3rem"
        src="{{ product.image }}"
        alt="Card image cap" />
      <h5 class="card-title" style="margin: 0">
        #{{ product.id }} | {{ product.name }}
      </h5>
      <p class="card-text" style="margin: 0">
        <strong> Price: </strong>{{ product.price | currency: 'USD' }}
      </p>
      <p class="data_entry" style="margin: 0">
        <strong>Date: </strong>{{ product.dateEntry | date: 'short' }}
      </p>
      <div class="btn-icons p-1 m-1">
        <a
          class="btn"
          style="margin: 0px 12px; font-size: 25%"
          (click)="deleteProduct(product)">
          <i class="fa-solid fa-trash" style="font-size: 380%"> </i>
        </a>
        <a class="btn" (click)="updateProduct(product)">
          <i class="fa-solid fa-pen-to-square" style="font-size: 400%"></i>
        </a>
      </div>
    </div>
  </div>
</div>
