<!-- <select
  class="form-select"
  style="width: 25%; border-radius: 10px; margin: 1.5%"
  aria-label="Default select example"
  #txtSearch
  (change)="optionClick(txtSearch.value)">
  <option value="none" selected>Categoría</option>
  <option value="desayuno">Desayuno</option>
  <option value="almuerzo">Almuerzo y cena</option>
</select> -->
<!-- <button type="button" class="btn-nav mt-3" routerLink="menu">
  <i class="fa-solid fa-people-line"></i> Menú
</button>
<button type="button" class="btn-nav mt-4" routerLink="orders">
  <i class="fa-solid fa-cubes"></i> Pedidos
</button> -->
<!-- <div class="row" style="justify-content: space-evenly; margin: 0">
  <div class="col-12 col-sm-12" style="justify-content: center">
    <router-outlet></router-outlet>
  </div>
</div> -->
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button
    type="button"
    value="none"
    class="btn btn-success active"
    routerLink="all">
    Todos
  </button>
  <button
    type="button"
    value="desayuno"
    class="btn btn-danger"
    routerLink="desayuno">
    Desayuno
  </button>
  <button
    type="button"
    value="almuerzo"
    class="btn btn-warning"
    routerLink="almuerzoycena">
    Almuerzo y cena
  </button>
</div>
<div
  class="overflow-auto row p-1 mb-md-0 mr-md-3 scroller-container"
  style="justify-content: space-evenly; max-height: 400px">
  <router-outlet></router-outlet>
</div>
