.btn {
    background-color: #8CC63F;
    border-radius: 50%;
    border-color: none;
    color: #fff;
    margin-right: 2em;
}

.badge {
    background-color: #FFC501;
    width: 8rem
}

.card{
    border-radius: 1.5rem;
}
