<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button
    type="button"
    value="none"
    class="btn btn-none btn-success active"
    style="border-radius: 20px"
    #btnnone
    (click)="optionClick(btnnone.value)">
    Categoría
  </button>
  <button
    type="button"
    value="pendiente"
    style="border-radius: 20px"
    class="btn btn-pendiente btn-danger"
    #btnpendiente
    (click)="optionClick(btnpendiente.value)">
    Pendiente
  </button>
  <button
    type="button"
    value="preparado"
    class="btn btn-preparado btn-warning"
    style="border-radius: 20px"
    #btnpreparada
    (click)="optionClick(btnpreparada.value)">
    Preparado
  </button>
  <button
    type="button"
    value="entregado"
    style="border-radius: 20px"
    class="btn btn-entregado btn-info"
    #btnentregado
    (click)="optionClick(btnentregado.value)">
    Entregado
  </button>
</div>
<div class="overflow-auto row p-1 mb-md-0 mr-md-3 scroller-container">
  <div
    class="card col-sm-5 col-md-5 col-lg-3 m-1"
    *ngFor="let order of listOrders | filterOrder: optionStatus">
    <span
      class="badge bg-success rounded-pill mt-2"
      [ngClass]="{
        'bg-danger': order.status === 'pendiente',
        'bg-warning': order.status === 'preparado'
      }"
      >{{ order.status }}</span
    >
    <div class="card-body">
      <h5 class="card-title" style="margin: 0">
        {{ order.client }}
      </h5>
      <p class="data_entry" style="margin: 0">
        <strong>Fecha: </strong>{{ order.dataEntry | date: 'short' }}
      </p>
      <p class="data_dataPrepare" style="margin: 0" *ngIf="order.time">
        <strong>Tiempo de Preparación: </strong>
        {{ order.time }}
      </p>
      <p class="data_entry" style="margin: 0" *ngIf="order.dateProcessed">
        <strong>Entregado: </strong>{{ order.dateProcessed | date: 'short' }}
      </p>
      <div
        class="overflow-auto row p-1 mb-md-0 mr-md-3 scroller-container min-scroller-container">
        <div class="products-sales" *ngFor="let product of order.products">
          <div class="product-order-container p-1 m-1">
            <img
              src="{{ product.product.image }}"
              style="height: 2rem; width: 2rem" />
            <div class="" style="display: flex; flex-direction: column">
              <h5 class="card-title">{{ product.product.name }}</h5>
              <div
                class="card-info"
                style="display: flex; justify-content: space-between">
                <div class="card-text" style="font-size: 0.8em">
                  {{ product.product.price | currency: 'USD' }}
                </div>
                <div class="card-text" style="font-size: 0.8em">
                  {{ product.qty }}
                </div>
                <div class="card-text" style="font-size: 0.8em">
                  {{ product.total | currency: 'USD' }}
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <span class="form-label">Total: </span>
      <span> {{ order.total | currency: 'USD' }} </span>
      <div class="btn-icons p-1 m-2">
        <button
          class="btn btn-danger"
          style="margin: 0px 12px; font-size: 75%"
          (click)="deleteOrder(order)">
          Cancelar Pedido
        </button>
        <button
          class="btn btn-primary"
          style="margin: 0px 12px; font-size: 75%"
          [disabled]="
            order.status === 'pendiente' || order.status === 'entregado'
          "
          (click)="updateOrder(order)">
          Entregar Pedido
        </button>
      </div>
    </div>
  </div>
</div>
