<div class="card" style="border-radius: 25px">
  <div class="card-body p-4">
    <h3 class="title text-center">{{ title }}</h3>
    <form [formGroup]="ordersForm" (ngSubmit)="addOrders()">
      <div class="form-group">
        <label for="validationClient" class="form-label">Name</label>
        <input
          type="client"
          formControlName="client"
          class="form-control"
          id="validationClient"
          placeholder="Ingresa el nombre del cliente" />
      </div>
      <div class="form-group">
        <label class="form-label"> Fecha de pedido: </label>
        <p class="form-control">{{ dataOrder | date: 'short' }}</p>
      </div>
      <label class="form-label"> Productos: </label>
      <div
        class="overflow-auto row p-1 mb-md-0 mr-md-3"
        style="justify-content: space-evenly; max-height: 150px">
        <div class="products-sales" *ngFor="let product of productNew">
          <div
            class="card p-1 m-1"
            style="
              border-radius: 1em;
              display: flex;
              flex-direction: row;
              align-items: baseline;
            ">
            <img
              src="{{ product.product.image }}"
              style="height: 2rem; width: 2rem" />
            <div class="card-body">
              <h5 class="card-title">{{ product.product.name }}</h5>
              <div
                class="card-info"
                style="display: flex; justify-content: space-between">
                <div class="card-text" style="font-size: 0.8em">
                  {{ product.product.price | currency: 'USD' }}
                </div>
                <div class="card-text" style="font-size: 0.8em">
                  {{ product.qty }}
                </div>
                <div class="card-text" style="font-size: 0.8em">
                  {{ product.total | currency: 'USD' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <span class="form-label">Total: </span>
      <span> {{ totalOrder | currency: 'USD' }} </span>
      <div class="form-group mt-4 text-center">
        <input
          type="submit"
          [disabled]="ordersForm.invalid"
          class="btnSubmit"
          value="{{ title }}" />
      </div>
    </form>
  </div>
</div>
