.login-section {
    background-image: url('../../assets/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.title {
    font-size: 2em;
    color: #FD090C;
    font-family: 'Poppins', sans-serif;
}

.text-danger {
    text-align:start;
    margin-left: 1em;
}

.logo {
    width: 60%;
}

.burgerimg {
    width: 80%;
}