mat-sidenav-container {
    height: 100%;
    background-image: url('../../assets/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mat-sidenav {
        background-color:#FFC501;
        mat-nav-list {
          .menu-item {
            margin-left: 8px;
          }
          .chevron-button {
            transition: 300ms ease-in-out;
            transform: rotate(0deg);
            align-items: center;
          }
          .chevron-button.rotated {
            transform: rotate(180deg);
          }
          .btn-log-out {
            margin-top:23em;
          }
        }
      }
}
.container-nav{
    margin: 0;
}

.btn-danger {
    display: none;
}
