<div class="container login-container">
  <div class="row">
      <div class="col-sm-12 col-md-6 login-form-1">
        <h3>Ingresa Sesión</h3>
        <form>
          <div class="form-group">
            <label for="validationEmail" class="form-label">Correo</label>
            <input type="email" class="form-control" id="validationEmail" placeholder="Ingresa tu Correo" required>
          </div>
          <div class="form-group">
            <label for="validationPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="validationPassword" placeholder="Ingresa tu Contraseña" required>
          </div>
          <div class="form-group">
            <input type="submit" class="btnSubmit" value="Iniciar Sesión" />
          </div>
          <div class="form-group">
            <a href="#" class="ForgetPassword">¿Olvidaste tu contraseña?</a>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <img src="assets/logo.png" class="img-fluid" alt="">
      </div>
  </div>
</div>
