.btn-icons{
    display: flex;
    flex-direction: row;
    row-gap: 2%;
}
.card{
    border-radius: 1.5rem;
}

.scroller-container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */  
    display: none;  /* Ocultar scroll */
}